@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

<div>
    @* <h1>Try to create a Resturant Instance</h1> *@
    <h1>These are the Resturants</h1>
    @if (Resturants != null)
    {
        @foreach (var r in Resturants)
        {
            <div class="text-xl-start">
            <span class="title">The resturant name is @r.Name.</span>
            <pre>
            The style is @r.Style.
            Price Range of @r.getPriceLabel().
            @r.Distance km away.
            Address: @r.Address.
            @r.Rating stars on google.
            </pre>
            </div>
            
        }
    }
    @* <ResturantEditor Resturant= "Resturant"/> *@
</div>

@code{
    List<Resturant> Resturants = new();
    [Parameter] public Resturant Resturant { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Resturants = await HttpClient.GetFromJsonAsync<List<Resturant>>(NavigationManager.BaseUri + "Resturants");        
    }
    
}