@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

<div>
    <h1>Try to create a Resturant Instance</h1>
    <button class="active" @onclick="showConfigDialog" >Create</button>
</div>
@if(dialog)
{
    <AddResturantDialog/>
}
<div>
    @* <h1>Try to create a Resturant Instance</h1> *@
    <h1>These are the Resturants</h1>
    @if (Resturants != null)
    {
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Style</th>
                <th>Price Range</th>
                <th>Distance(km)</th>
                <th>Address</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var r in Resturants)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Style</td>
                        <td>@r.getPriceLabel()</td>
                        <td>@r.Distance</td>
                        <td>@r.Address</td>
                        <td>@r.Rating</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @* <ResturantEditor Resturant= "Resturant"/> *@
</div>



@code{
    List<Resturant> Resturants = new();
    bool dialog = false;
    void showConfigDialog()
    {
        dialog = true;
    }
    [Parameter] public Resturant Resturant { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Resturants = await HttpClient.GetFromJsonAsync<List<Resturant>>(NavigationManager.BaseUri + "Resturants");        
    }
    
}